html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--light-text);
  font-family: var(--font-main);
  font-smooth: never;
  min-width: 320px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  webkit-font-smoothing: antialiased;
}

a {
  color: var(--light-text);
}

img {
  width: 100%;
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 46px 0 0;
  }
}

.orangeText {
  background: var(--gradient);
  -webkit-background-clip: text;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 3.194vw 0 0;
  }

  .orangeText {
    text-transform: uppercase;
  }
}
