:root {
  --black: #0e1014;
  --fz-12-16: clamp(0.75rem, 1.3vw, 1rem);
  --fz-36-48: clamp(2.25rem, 3.4vw, 3rem);
  --fz-5-10: clamp(0.125rem, -0.0179rem + 0.7143vw, 0.625rem);
  --font-main: inter, roboto, arial, helvetica, sans-serif;
  --container-padding: clamp(1rem, -1.3929rem + 11.9643vw, 9.375rem);
  --light-text: #e4e5ea;
}
