.header {
  background-color: var(--black);
  position: relative;
  z-index: 2;
}

.nav {
  align-items: center;
  display: flex;

  justify-content: space-between;
  width: 100%;

  &__wrapper {
    width: 100%;
  }

  &__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 360px;
    padding: 5.5vw 0;
    width: 100%;
  }

  &__link {
    font-size: var(--fz-12-16);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__item:last-child {
    display: none;
  }

  &__icons {
    display: none;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    max-width: 165px;

    &-text {
      display: none;
    }
  }

  .part1 {
    display: none;
  }

  .part2 {
    display: none;
  }

  &__tel {
    display: none;
  }
}

@media (min-width: 425px) {
  .nav {
    gap: 5vw;

    &__link {
      text-transform: initial;
    }

    &__icons {
      display: flex;
      gap: 2.083vw;
    }

    &__icon {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .part1 {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0.764vw 0 0.278vw;
  }
  .nav {
    align-items: start;
    gap: 1.875vw;
    justify-content: start;

    &__item:last-child {
      display: inline;
    }

    &__logo {
      display: flex;
      flex-direction: column;
      max-width: 165px;
      row-gap: 0.694vw;
      width: 11.458vw;

      &-img {
        display: flex;
        gap: 0.556vw;
      }

      &-text {
        display: inline;
        font-size: 0.694vw;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.4px;
        line-height: normal;
      }
    }

    .part2 {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__row {
      align-items: start;

      margin: 0.2vw 0 0;
      max-width: 503px;
      padding: 0;
      width: 34.931vw;
    }

    &__right {
      display: flex;
      gap: 3.264vw;
      margin: 0.2vw 0 0 auto;
    }

    &__tel {
      display: inline;
      font-size: var(--fz-12-16);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@media (min-width: 1440px) {
  .nav {
    gap: 27px;

    &__logo {
      gap: 10px;

      &-text {
        font-size: 0.625rem;
      }

      &-img {
        gap: 8px;
      }
    }

    &__row {
      margin-top: 2.88px;
    }

    &__right {
      gap: 47px;
    }

    &__icons {
      gap: 30px;
    }
  }

  .header {
    padding: 11px 0 4px;
  }
}
